body {
    background-color: #0d0d0e;
    background-image: url(imagenes/messi\ leagues\ cup.png);
    background-repeat: no-repeat;
    background-size: 1500px;
}

.photocard img {
    max-width: 100%; /* Asegura que la imagen se ajuste al contenedor */
    border-radius: 10px; /* Redondear la imagen */
    float: left; /* O 'right' para moverla a la derecha */
    margin: 10px;
    
}

.foto2 img {
    max-width: 100%; /* Asegura que la imagen se ajuste al contenedor */
    border-radius: 10px; /* Redondear la imagen */
    float: right; /* O 'right' para moverla a la derecha */
    margin: 10px;

}

h1 {
    font-size: 60px;
    color: black;
    text-align: center;
    text-shadow: #f0f0f0;
    font-family: 'Cinzel',aria
}

img {
    width: 350px;
    height: auto;
}

.cuadro {
    border-radius: 10px;
    border: 2px solid #000; /* Bordes del cuadro */
    padding: 20px; /* Espaciado interno */
    width: 300px; /* Ancho del cuadro */
    text-align: center; /* Alinear texto al centro */
    background-color: #f0f0f0; /* Color de fondo */
}